.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row--middle {
  align-items: center;
}

.row--bottom {
  align-items: flex-end;
}

.row--center {
  justify-content: center;
}

.row--right {
  justify-content: flex-end;
}

.row--between {
  justify-content: space-between;
}

.row--around {
  justify-content: space-around;
}

.row--autofill > .col {
  flex: 1;
}


.row--full-height {
  align-items: stretch;
  > .col {
    display: flex;
    align-items: stretch;
    > .col__inner {
      flex: 0 1 auto;
      width: 100%;
    }
  }
}